{%load static%}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'holamundo/styles.css' %}">
    <title>Document</title>
</head>

<body>
    <nav class="navegador">
        <p>{{ year }} Todos los derechos reservados</p>
        <img src="{% static 'holamundo/itec-logo.png'%}" alt="itec-logo">

        <div>
            <a href="{%url 'saludo'%}">Saludo</a>
            <a href="{%url 'tareas' %}">Tareas</a>
            <a href="{%url 'admin:index' %}">Admin</a>
        </div>


        {% if user.is_authenticated %}
        <div class="cajota">
            <div class="cajaperfil">

                {% if user.foto_perfil %}
                <img class="perfil" src="{{user.foto_perfil.url}}" alt="imagen {{user.nombre}}">
                {% endif %}
            </div>
            <div class="datos">

                <form action="{%url 'logout' %}" method="post">
                    {%csrf_token%}
                    <p>{{mensaje_bienvenida}}</p>
                    <button type="submit">Cerrar sesion</button>
                </form>
            </div>
        </div>
        {%else%}
        <div class="cajota">
            {{mensaje_bienvenida}}
            <a href="{%url 'login' %}">Login</a>
        </div>
        {%endif%}
    </nav>
    {% block body %}
    <!-- Contenido específico de cada página -->
    {% endblock %}
</body>

</html>