{% extends 'holamundo/base.html' %}
<!-- url/tareas-->
{% block body %}
<h1>Lista de Tareas</h1>
<ul>
  <a class="nueva" href="{%url 'crear_tarea' %}">Nueva Tarea...</a>

  <hr>

  {% for tarea in tareas %}
  <li><span>Tarea:</span> {{tarea.nombre}} <br><span>Completada:</span> {{tarea.completada}} <br><span>Responsable:</span> {{tarea.responsable.username}} <br><span>Etiquetas:</span> {{tarea.etiquetas}} <br><span>Activo</span> {{tarea.activo}}</li>
  <a class="editar" href="{%url 'editar_tarea' tarea.id %}">Editar tarea ...</a>
  <a class="eliminar" href="{%url 'eliminar_tarea' tarea.id %}">Eliminar tarea ...</a>

  <hr />
  {% endfor %}
</ul>

{% endblock %}
